<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-unselectable" href="{{ path('app_home') }}">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <div class="navbar-menu" id="navMenu">
            <!-- navbar-start, navbar-end... -->
        </div>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a href="{{ path('app_category_ladies') }}" class="navbar-item">
                {{ 'ladies'|trans|capitalize }}
            </a>
            <a href="{{ path('app_category_gentlemen') }}" class="navbar-item">
                {{ 'gentlemen'|trans|capitalize }}
            </a>
            <a href="{{ path('app_category_clubs') }}" class="navbar-item">
                {{ 'clubs'|trans|capitalize }}
            </a>
            <a href="{{ path('app_category_couples') }}" class="navbar-item">
                {{ 'couples'|trans|capitalize }}
            </a>
            <a href="{{ path('app_category_massage') }}" class="navbar-item">
                {{ 'massage'|trans|capitalize }}
            </a>
            <a href="{{ path('app_category_bdms') }}" class="navbar-item">
                {{ 'bdms'|trans|upper }}
            </a>
            <a href="{{ path('app_category_striptease') }}" class="navbar-item">
                {{ 'striptease'|trans|capitalize }}
            </a>
            <a href="{{ path('app_category_shows-phone-sex') }}" class="navbar-item">
                {{ 'shows/Phone sex'|trans|capitalize }}
            </a>
            <a class="navbar-item">
                {{ 'job offers'|trans|capitalize }}
            </a>
            {% if is_granted('ROLE_ADMIN') %}
                <a class="navbar-item">
                    {{ 'admin'|trans|capitalize }}
                </a>
            {% endif %}
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    {{ app.request.locale|upper }}
                </a>
                <div class="navbar-dropdown">
                    {% if app.request.get('_route_params') is iterable %}
                        {% for locale in locales %}
                            <a href="{{ path(app.request.attributes.get("_route"), app.request.attributes.get('_route_params')|merge({"_locale": locale })) }}"
                               class="navbar-item {{ app.request.locale == locale ? 'is-active' : '' }}"
                            >{{ ('locales.' ~ locale)|trans|capitalize }}</a>
                        {% endfor %}
                    {% endif %}
                    <hr class="navbar-divider">
                    <a class="navbar-item">
                        Jobs
                    </a>
                    <a class="navbar-item">
                        Contact
                    </a>
                </div>
            </div>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <strong>{{ 'add advertisement'|trans|capitalize }}</strong>
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_logout') }}" class="button is-light">
                            {{ 'security.logout'|trans|capitalize }}
                        </a>
                    {% else %}
                        <a href="{{ path('app_register') }}" class="button is-light">
                            {{ 'security.sign up'|trans|capitalize }}
                        </a>
                        <a href="{{ path('app_login') }}" class="button is-light">
                            {{ 'security.log in'|trans|capitalize }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</nav>
